<!DOCTYPE html>
<html> 
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title>Веб-приложение</title>
    </head>
    <body>
        <div align="center">
            <h1>Веб-приложение</h1>
            <p>Веб-приложение должно формировать новое изображение на основе исходного путём умножения
                изображения на периодическую функцию <i>sin</i> или <i>cos</i> с нормировкой, период изменения задаёт
                пользователь, аргумент функции определяется вертикальной или горизонтальной составляющей.
                Нарисовать график распределения цветов для нового и исходного изображения.</p>
            <a href="/run_app">Настройки веб-приложения</a>
        </div>
    </body>
</html>
